{% assign conf = include.conf %}

<h2>Conferences 'n' Camps</h2>
<p>
What's News? What's Upcoming in {{ page.year | default: 2018 }}?
</p>
<p>
{% include conf.html conf=conf %}
</p>
<p>
 Tip:  Try the whatson gem that includes the rubyconf command-line tool.  
  Try <code>$ gem install whatson</code> 
  followed by <code>$ rubyconf</code>  
  to see the full listing with countdown & more (on your very own command line / your very own shell / terminal).   
  (Ruby Gem Source: <a href="https://github.com/rubycocos/events/tree/master/whatson"><code>whatson</code></a>,   
  Open Data Source  <a href="https://github.com/planetruby/conferences/blob/master/_data/conferences2023.yml"><code>conferences2023.yml</code></a>)
<p>
<p>
See all <a href="{{ page.link | absolute_url }}">Conferences 'n' Camps in {{ page.year | default: 2018 }}»</a>.
</p>
