{
    "version":       "https://jsonfeed.org/version/1",
    "title":         "{{ page.title }} in {{ page.year | default: 2018 }} - What's Upcoming?",
    "home_page_url": "{{ page.link | absolute_url }}",
    "feed_url":      "{{ '/feed.json' | absolute_url }}",
    "items": [

{% capture conferences_key %}{{ page.conferences | default: 'conferences2018' }}{% endcapture %}
{% assign sorted_confs = site.data[ conferences_key ] | where_exp: "conf", "conf.updated != nil" | sort: "updated" | reverse %}

{% for conf in sorted_confs limit: 10 %}

{%- capture title -%}
{{ conf.name }} @ {{ conf.location }} - {{ page.title }} Update
{%- endcapture -%}

{%- capture url -%}
{{ page.link | absolute_url }}#{{ conf.name | slugify }}
{%- endcapture -%}

{%- capture body -%}
{% include conf_feed_item.html conf=conf %}
{%- endcapture -%}

        {
            "id":             "{{ url | sha1 }}",
            "title":           {{ title | jsonify }},
            "content_html":    {{ body | jsonify }},
            "url":            "{{ url | absolute_url }}",
            "date_published": "{{ conf.updated | date_to_xmlschema }}"
        }{% if forloop.last == false %},{% endif %}
    {% endfor %}
    ]
}
